<header id='header'>
  <p id='edit-merchant-logo'>Edit <%= @merchant.name %></p>
</header>
<div id="create-box">
<div id="create-contents">
<form action="/merchants/<%= @merchant.id %>" method="post">
  Name</br><input type="hidden" name="_method" value="PUT"/>
  <input type="text" name="merchant[name]" value="<%= @merchant.name %>"/>
  <input type='submit' value='Update Merchant'/>
  <a href="/merchants"><button>Cancel</button></a>
</form>
</div>
</div>
