<h1>All Merchants</h1>
<% @merchants.each do |merchant| %>
<ul>
  <li><%= merchant.name %></li>
  <button type="button" name="button">Edit</button>
  <button type="button" name="button">Delete</button>
</ul>
<% end %>
