<h1>All Merchants</h1>
<% @merchants.each do |merchant| %>
<ul>
  <li class="delete-<%= merchant.id %>"><%= merchant.name %></li>
  <a href="/merchants/<%= merchant.id %>/edit"><button>Edit</button></a>
  <form action="/merchants" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete"/>
  </form>
</ul>
<% end %>
