    <header id='header'>
      <p id='merchant-logo'>Create New Merchant</p>
    </header>
    <div id="create-box">
    <div id="create-contents">
    <form class="merchant-create" action="/merchants" method="post">
      Name<br><input type="text" name="merchant[name]"></br>
      <div id="cancel-create-buttons">
      <a href="/merchants"><button>Cancel</button></a>
      <input type="submit" value="Create Merchant">
    </div>
    </form>
  </div>
</div>
