    <header id='header'>
      <p id='merchant-logo'>Create New Merchant</p>
    </header>
    <div id="create-box">
    <div class="create-contents">
    <form action="/merchants" method="post">
      <div class="merchant-edit-field-box">
      Name</br><input type="text" name="merchant[name]"></br>
    </div>
    <div id='merchant-edit-buttons'>
      <input class='merchant-edit-new-cancel-buttons' type='submit' value='Cancel' href="/merchants"/>
      <input class='merchant-edit-new-create-update-buttons' type="submit" value="Create Merchant">
    </div>
    </form>
  </div>
</div>
