<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/main.css' title='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
    <title>Merchant New</title>
  </head>
  <body>
    <nav class='nav'>
      <ul class='nav-links'>
        <li id='little-shop'><a href='/'>LittleShop</a></li>
        <li class='nav-link'><a href='/merchants'>Merchants</a></li>
        <li class='nav-link'><a href='/items'>Items</a></li>
        <li class='nav-link'><a href='/invoices'>Invoices</a></li>
      </ul>
    </nav>
    <header id='header'>
      <p id='merchant-logo'>Create New Merchant</p>
    </header>
    <div id="create-box">
    <div id="create-contents">
    <form class="merchant-create" action="/merchants" method="post">
      Name<br><input type="text" name="merchant[name]"></br>
      <div id="cancel-create-buttons">
      <a href="/merchants"><button>Cancel</button></a>
      <input type="submit" value="Create Merchant">
    </div>
    </form>
  </div>
</div>
  </body>
</html>
