<h1><%= @merchant.name %></h1>
<a href="/merchants/<%= @merchant.id %>/edit"><button>Edit</button></a>
<div class="delete-<%= @merchant.id %>">
  <form action='/merchants/<%= @merchant.id %>' method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
</div>
