<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Items</title>
</head>
<body>
  <h1>Items Dashboard</h1>
  <div class='item_count'>
    <p>Total Item Count</p>
    <p><%= @items.length %></p>
  </div>
</body>
</html>
