<form class="item-create" action="/items" method="post">
  <input type="text" name="item[title]" value="Title">
  <input type="text" name="item[description]" value="Description">
  <input type="integer" name="item[price]" value="Price">
  <input type="text" name="item[image]" value="Image">
  <input type="submit" value="Submit">
</form>
