* {
  padding: 0;
  margin: 0;
}

#header {
  border: 1px solid black;
  background-color: rgba(56, 14, 238, 0.06);
  font-family: 'Amiko';font-size: 22px;
}

#merchant-logo {
  display: flex;
  justify-content: center;
}

#create-merchant {
  display: flex;
  justify-content: center;

}
