* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

footer {
  height: 40px;
  border: 1px solid black;
  background-color: #9e9e9e8f;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-family: 'Raleway', sans-serif;
  border: 1px solid black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 8px 4px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #e7f1e8;
}

.item-attributes {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tulip-image {
  border-radius: 10%;
  height: 200px;
  width: 180px;
}

.item-box {
  flex-wrap: wrap;
  height: 240px;
  width: 180px;
  margin: 40px;
}

.item-count-box {
  border: 1px solid black;
  height: 200px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-length {
  margin-top: 20px;
}

.item-by-age-box {
  border: 1px solid;
  height: 200px;
  width: 180px;
}

.dashboard-boxes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 80px;
}

.merchant-edit-field-box {
  margin-left: 20px;
  margin-top: 10px;
  font-family: Raleway;
}

.merchant-edit-new-cancel-buttons {
  height: 50px;
  width: 150px;
  border-radius: 10%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 11px black;
  background-color: #fb6767;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merchant-edit-new-create-update-buttons {
  height: 50px;
  width: 150px;
  border-radius: 10%;
  margin-bottom: 20px;
  box-shadow: 4px 4px 11px black;
  background-color: #caff86;
  display: flex;
  justify-content: center;
  align-items: center;
}


#merchant-edit-buttons {
  height: 220px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#item-by-age {
  margin-top: 30px;
}

#little-shop {
  position: absolute;
  top: 7px;
  left: 20px;
}

#header {
  height: 100px;
  border: 1px solid black;
  background-color: rgba(56, 14, 238, 0.06);
  font-family: 'Amiko';font-size: 22px;
}

#right-nav-links {
  display: flex;
}

#dashboard-link {
  font-size: 12px;
  margin-left: 20px;
}

#edit-merchant-logo {
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#merchant-logo {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#item-dashboard-logo {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#merchant-show-name {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#merchant-box {
  display: flex;
  justify-content: center;
}

#merchant-inner-box {
  width: 85%
}

#create-merchant {
  display: flex;
  justify-content: center;
}

#merchant-edit-field {
  width: 95%;
  margin-top: 5px;
  height: 30px;
}

#create-merchant-button {
  margin-top: 10px;
  padding: 3px;
}

#merchant-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 24px;
}

#grey-row {
  background-color: #e2e2e2;
}

#merchant-name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#buttons-box {
  display: flex;
  align-items: center;
}

#edit-button {
  background-color: #FFEB3B;
  box-shadow: 1px 1px 6px 0px #9e9e9e;
}

#delete-button {
  margin-left: 10px;
  margin-right: 5px;
  background-color: #ff7c3b;
  box-shadow: 1px 1px 6px 0px #9e9e9e;
}

#create-box {
  background-color: #ddffff;
  display: flex;
  justify-content: center;
}

.create-contents {
  margin-bottom: 5px;
  border-radius: 2%;
  background-color: #faddff;
  width: 80%;
  border: 1px solid black;
  height: 300px;
  margin-top: 5px;
}

#cancel-create-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 230px;
}

#edit-item-button {
  margin-right: 10px;
}
