* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

footer {
  height: 40px;
  border: 1px solid black;
  background-color: #9e9e9e8f;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  border: 1px solid black;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 8px 4px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin: 0px;
  background-color: #e7f1e8;
}

.item-attributes {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}

#little-shop {
  position: absolute;
  top: 7px;
  left: 20px;
}

#header {
  height: 100px;
  border: 1px solid black;
  background-color: rgba(56, 14, 238, 0.06);
  font-family: 'Amiko';font-size: 22px;
}

#right-nav-links {
  display: flex;
}

#dashboard-link {
  font-size: 12px;
  margin-left: 20px;
}

#merchant-logo {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#merchant-box {
  display: flex;
  justify-content: center;
}

#merchant-inner-box {
  width: 85%
}

#create-merchant {
  display: flex;
  justify-content: center;
}

#create-merchant-button {
  margin-top: 10px;
  padding: 3px;
}

#merchant-row {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  height: 24px;
}

#grey-row {
  background-color: #e2e2e2;
}

#merchant-name {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#buttons-box {
  display: flex;
  align-items: center;
}

#edit-button {
  background-color: #FFEB3B;
  box-shadow: 1px 1px 6px 0px #9e9e9e;
}

#delete-button {
  margin-left: 10px;
  margin-right: 5px;
  background-color: #ff7c3b;
  box-shadow: 1px 1px 6px 0px #9e9e9e;
}

#create-box {
  display: flex;
  justify-content: center;
}

#create-contents {
  width: 80%;
  border: 1px solid black;
  height: 300px;
  margin-top: 5px;
}

#cancel-create-buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 230px;
}

#item-box {
  flex-wrap: wrap;
  height: 240px;
  width: 180px;
  margin: 40px;
}

#tulip-image {
  border-radius: 10%;
  height: 200px;
  width: 180px;
}

#delete-item-button {
}

#edit-item-button {
  margin-right: 10px;
}
