<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/main.css' title='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
  <title>LittleShop</title>
</head>
<body>
  <nav class='nav'>
    <a id='little-shop' href='/'>LittleShop</a>
    <ul class='nav-links'>
      <div id='right-nav-links'>
      <li class='nav-link'><a href='/merchants'>Merchants</a></li>
      <li class='nav-link'><a href='/items'>Items</a></li>
      <li class='nav-link'><a href='/invoices'>Invoices</a></li>
    </div>
    </ul>
  </nav>
  <%= yield %>
</body>
<footer></footer>
</html>
